*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent-cont{
    height: 340vh;
    width: 100vw;
    background-color: rgb(135, 161, 135);
}
.parent-navigation{
    width: 100%;
    padding: 15px;
    background-color: #043927;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.logo{
    height: 10%;
    width: 20%;
}
.nav{
    height: 10%;
    width: 90%;
    display: flex;
}
.links{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: rgb(29, 196, 29);
}
li{
    list-style: none;
}
.anch-nav{
    text-decoration: none;
    color: cornsilk;
}
input{
    height: 35px;
    width: 200px;
    border: none;
    border-radius: 5px;
}
button{
    font-size: 20px;
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 15px;
    background-color:forestgreen;
    color: white;
}

hr{
    margin-top: 40px;
}
.parent-mob-cont{
    display: none;
}

@media (max-width:500px){
    .parent-navigation{
        display: none;
    }
    .parent-mob-cont{
        display: block;
    }
    .parent-mob-cont{
        height: 20vh;
        width: 100vw;
    }
    .logo{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(8, 37, 8);
    }
    h1{
        text-decoration: 1px underline cornsilk;
    }
    .nav-bar{
        height: 30%;
        width: 100%;
        background-color: rgb(8, 37, 8);
    }
    .list-item{
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    a{
        text-decoration: none;
        color:cornsilk;
    }
}


/* horizontal navigation */
.parent{
    height: 100%;
    width: 100%;
    background-color: white;
}
/* .vnav{
    height: 100%;
    width: 12%;
    background-color: #043927;
} */
.mens-head{
    text-align: center;
    margin-top: 10px;
    color: black;
}
.parent-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: 600px;
    width: 320px;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
}
.photo{
    width: 100%;
}
.card-btn{
    height: 40px;
    width: 100px;
    font-size: 1rem;
    border-radius: 1px;
    border: 1px solid black;
    color: black;
    background-color: white;
}
.card-img-info{
    font-size: 18px;
    font-weight: 600;
}